@import url("../fonts/SegoeUI/stylesheet.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css");
@import url("../../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url(../../node_modules/slick-carousel/slick/slick.css);
@import url(../../node_modules/slick-carousel/slick/slick-theme.css);
.header {
  padding: 20px 0;
  background: #1F242B;
  border-bottom: 1px solid #656363;
  z-index: 999;
  width: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: fixed;
}

.header_sticky {
  background: #1F242B90;
  border: none;
  padding: 10px 0;
}

.header__logo {
  margin-right: 80px;
}

.header .nav-item {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  margin-right: 54px;
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .nav-item:hover {
  color: #5699E8;
}

.header .nav-item.active {
  font-weight: bold;
}

.header .nav-item:before {
  content: '';
  width: 6px;
  height: 6px;
  background: #E5E5E5;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: -30px;
}

.header .nav-item:last-child:before {
  width: 0;
  height: 0;
}

.home {
  padding: 121px 0  135px;
  position: relative;
  background: #1f242c;
}

.home__vector {
  position: absolute;
  top: 0;
  left: 412px;
  -webkit-animation: blink .8s infinite;
          animation: blink .8s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .8;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .8;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

.home .titleBlock {
  position: relative;
}

.home__title {
  position: relative;
}

.home__title:before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 0;
  background: #f91942;
  width: 124px;
  height: 2px;
}

.home__subtitle {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 21px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 73.22px 0 48px;
}

.home__descr {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 430px;
  margin-bottom: 48px;
}

.home__button {
  width: 280px;
  height: 56px;
  background: #F91941;
  -webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
  border-radius: 45px;
  border: none;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 21px;
  color: #FFFFFF;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

.home__button:hover {
  background: #5699E8;
}

.home__img {
  position: absolute;
  top: 10%;
  right: 2%;
  z-index: 2;
}

.home__img.aboutUs {
  top: 22%;
  right: 1%;
}

.home__ellipse {
  top: 8%;
  right: -8%;
  position: absolute;
  width: 858px;
  height: 856px;
  background: #2a2f37;
  border-radius: 100%;
  -webkit-animation: ellipse 3s infinite  linear;
          animation: ellipse 3s infinite  linear;
}

.home__ellipse.aboutUs {
  top: 20%;
  right: -11%;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes ellipse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ellipse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.aboutUsMain {
  padding: 100px 0 312px;
  background: #2a2f37;
  position: relative;
}

.aboutUsMain__ellipse {
  top: -64%;
  right: 0%;
  position: absolute;
  width: 618px;
  height: 618px;
  border-radius: 100%;
  background: #353940;
}

.aboutUsMain__ellipse.aboutUs {
  top: -50%;
  right: -2%;
}

.aboutUsMain__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
}

.aboutUsMain__subtitle {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 21px;
  color: #FFFFFF;
  margin: 40px 0 24px;
}

.aboutUsMain__numbers {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 96px;
  color: #E5E5E5;
  opacity: 0.4;
  margin-right: 23px;
}

.aboutUsMain__cards {
  width: 346px;
  height: 152px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 12px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 21px;
  color: #FFFFFF;
}

.aboutUsMain__descr {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 1291px;
  font-size: 24px;
  margin-top: 48px;
}

.aboutUsMain .ellipsis-block {
  position: relative;
  z-index: 0;
}

.aboutUsMain .ellipsis-block__ellipsis {
  position: absolute;
  top: 47px;
  left: -349px;
  width: 569px;
  height: 568px;
  background: #353940;
  border-radius: 100%;
  -webkit-animation: ellipse 2s infinite  linear;
          animation: ellipse 2s infinite  linear;
}

.aboutUsMain .ellipsis-block__ellipsis:nth-child(2) {
  top: 100px;
  left: -300px;
  width: 460px;
  height: 459px;
  background: #3f434a;
}

@keyframes ellipse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.aboutUsMain__button {
  z-index: 100000;
  position: fixed;
  opacity: -1;
  bottom: 20px;
  right: 70px;
  width: 80px;
  height: 80px;
  background: #5699E8;
  border-radius: 95px;
  border: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aboutUsMain__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
}

.aboutUsMain__button_active {
  opacity: 1;
}

.cost-desc {
  padding: 80px 0 248px;
  background: #1f242c;
  z-index: 6;
  position: relative;
}

.cost-desc__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
  margin-bottom: 40px;
}

.cost-desc__numbers {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 96px;
  color: #E5E5E5;
  opacity: 0.4;
  margin-right: 24px;
}

.cost-desc__cards {
  width: 346px;
  height: 152px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 12px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.works .container {
  max-width: 100%;
  width: auto;
  padding: 0;
  margin: 0;
}

.works__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
  margin: 0 0 24px 80px;
}

.works__button {
  position: absolute;
  top: 45%;
  right: 4%;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.works__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.works .slick-slide img {
  display: block;
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.works .slick-dots {
  display: block;
  position: absolute;
  bottom: 30px;
}

.works .slick-dots li button:before {
  font-size: 28px;
  color: white !important;
  opacity: 1 !important;
}

.works .slick-dots li.slick-active button:before {
  color: #5699E8 !important;
  opacity: 1;
}

.works__slide {
  position: relative;
}

.works__cards {
  position: absolute;
  top: 23%;
  left: 12%;
  width: 400px;
  height: 312px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 24px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.works__link {
  position: absolute;
  bottom: 33px;
  right: 24px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  color: #5699E8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.works__link:hover {
  color: #fff;
}

.feedbacks {
  padding: 40px 0;
}

.feedbacks .container {
  max-width: 100%;
  width: auto;
  padding: 0;
  margin: 0;
}

.feedbacks__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
  margin-left: 80px;
}

.feedbacks .slick-list {
  padding: 0 !important;
}

.feedbacks .slick-dots {
  display: block;
  position: absolute;
  bottom: 10px;
}

.feedbacks .slick-dots li button:before {
  font-size: 28px;
  color: white !important;
  opacity: 1 !important;
}

.feedbacks .slick-dots li.slick-active button:before {
  color: #5699E8 !important;
  opacity: 1;
}

.feedbacks .cards {
  width: 500px !important;
  height: 518px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 24px;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  border: none;
}

.feedbacks .cards:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(31, 36, 43, 0.6);
}

.feedbacks .cards_active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.05);
}

.feedbacks .cards_active:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}

.feedbacks .cards__img {
  width: 150px;
  height: 100px;
  background: #FFFFFF;
  border-radius: 95px;
  margin-right: 40px;
}

.feedbacks .cards__name {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.feedbacks .cards__job {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 308px;
}

.feedbacks .cards__feedback {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 26px;
  max-width: 448px;
}

.feedbacks__button {
  position: absolute;
  top: 40%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 1;
}

.feedbacks__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.feedbacks__button.right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0;
}

.feedbacks__button.left {
  right: 0;
}

.cta {
  padding: 146px 0;
  background: rgba(255, 255, 255, 0.05);
}

.cta .container .col {
  margin: 0 auto;
}

.cta__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
  max-width: 506px;
  margin-bottom: 40px;
}

.form {
  position: relative;
}

.form__inputBlock {
  margin-bottom: 24px;
}

.form__inputBlock .dropdownBlock {
  display: none;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.form__inputBlock .dropdownBlock_active {
  display: block;
  margin-bottom: 10px;
}

.form__inputBlock .dropdownBlock .dropdown {
  width: 100%;
  height: 46px;
  background: #353940;
  border-radius: 6px;
  border-bottom: 1px solid #fff;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 10px;
}

.form__input {
  width: 100%;
  height: 46px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background: transparent;
  color: #FFFFFF;
  outline: none;
  padding: 10px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.form__input.dropdown {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background: no-repeat 470px/10px url("../images/cta/arrow.svg");
  background-size: 22px;
}

.form__input:valid:focus {
  border: 1px solid #5699E8;
}

.form .input__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.form__button {
  width: 156px;
  height: 46px;
  background: #F91941;
  -webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
  border-radius: 45px;
  border: none;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  color: #FFFFFF;
  position: absolute;
  bottom: -80px;
  right: 0;
}

.footer {
  padding: 80px 0 40px;
}

.footer__txt {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 40px;
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__txt:hover {
  color: #5699E8;
}

.footer__txt.last {
  text-align: center;
}

.footer__txt .txtIcon {
  margin-left: 17px;
}

.footer .logo-line {
  width: 164px;
  height: 1px;
  background: white;
  margin: 24.5px 0;
}

.footer__line {
  width: 100%;
  height: 1px;
  background: white;
  margin: 80px 0 24px;
}

.aboutUs .main-page {
  position: relative;
  padding: 241px 0 271px;
}

.aboutUs .main-page__txt {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 21px;
  color: #FFFFFF;
  max-width: 548px;
  line-height: 32px;
}

.aboutUs .our-team {
  padding: 70px 0 62px;
  background: #2a2f37;
  position: relative;
}

.aboutUs .our-team .container .row .col {
  margin-bottom: 40px;
}

.aboutUs .our-team__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
  margin-bottom: 40px;
}

.aboutUs .our-team__img {
  width: 290px;
  height: 300px;
  background: #C4C4C4;
  border-radius: 12px;
}

.aboutUs .our-team__name {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 24px 0 12px;
}

.aboutUs .our-team__job {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.aboutUs .dev-process {
  padding: 40px 0 160px;
  position: relative;
}

.aboutUs .dev-process .row .col-sm-12 {
  width: 520px;
  height: 160px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 12px;
  margin-right: 40px;
}

.aboutUs .dev-process .row .col-sm-12:last-child {
  margin-right: 0;
}

.aboutUs .dev-process .row .col-sm-12 .cards__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.aboutUs .dev-process .row .col-sm-12 .list-items {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 20px;
}

.aboutUs .dev-process__title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 48px;
  /* identical to box height */
  color: #FFFFFF;
  margin-bottom: 40px;
}

.aboutUs .dev-process__button {
  width: 244px;
  height: 46px;
  background: #1F242B;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 45px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  position: absolute;
  bottom: 13%;
  right: 7%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.aboutUs .dev-process__button:hover {
  -webkit-box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
  background: #5699E8;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 110%;
  -webkit-transition: all 0.9s linear;
  transition: all 0.9s linear;
  opacity: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000090;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 6;
}

.overlay_active {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
}

.overlay .closeButton {
  top: 20px;
  right: 10px;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 2;
}

.overlay .closeButton .line {
  width: 29px;
  height: 2px;
  background: #ffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 8px;
}

.overlay .closeButton .line:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -2px;
}

.overlay .popup-thanks {
  position: relative;
  display: none;
  background: #2a2f37;
  border-radius: 12px;
  padding: 20px;
}

.overlay .popup-thanks_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .popup-thanks__txt {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 21px;
  color: #FFFFFF;
  line-height: 32px;
  text-align: center;
  max-width: 380px;
}

.overlay .popup-form {
  position: relative;
  display: none;
  max-width: 600px;
  max-height: 600px;
  background: #2a2f37;
  border-radius: 12px;
  padding: 20px;
}

.overlay .popup-form_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .popup-form .form__button {
  position: static;
  margin: auto;
  display: block;
}

.overlay .popup-soon {
  position: relative;
  display: none;
  max-width: 600px;
  max-height: 600px;
  background: #2a2f37;
  border-radius: 12px;
  padding: 20px;
  height: 100px;
  width: 300px;
}

.overlay .popup-soon_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #1F242B;
  overflow-x: hidden;
}

@media (max-width: 1400px) {
  .aboutUs .our-team__img {
    width: 266px;
    height: 267px;
  }
  .aboutUsMain__ellipse {
    top: -60%;
  }
}

@media (max-width: 1200px) {
  .aboutUsMain__ellipse {
    top: -60%;
    right: 0%;
    position: absolute;
    width: 500px;
    height: 500px;
  }
  .aboutUsMain__ellipse.aboutUs {
    top: -38%;
  }
  .home__img {
    position: absolute;
    top: 15%;
    width: 500px;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home__ellipse {
    top: 19%;
    right: -8%;
    position: absolute;
    width: 700px;
    height: 700px;
  }
  .aboutUsMain {
    padding: 100px 0 230px;
  }
  .aboutUsMain__cards {
    font-size: 18px;
  }
  .aboutUsMain__cards:last-child {
    margin-top: 18px;
  }
  .aboutUsMain__ellipse {
    top: -48%;
  }
  .aboutUsMain .ellipsis-block__ellipsis {
    left: -349px;
    top: 0;
    width: 569px;
  }
  .aboutUsMain .ellipsis-block__ellipsis:nth-child(2) {
    top: 64px;
    left: -300px;
  }
  .cost-desc {
    padding: 80px 0 126px;
  }
  .cost-desc__cards {
    font-size: 20px;
  }
  .works .slick-slide img {
    display: block;
    width: 100%;
    height: 72vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .feedbacks .cards {
    width: 482px !important;
  }
  .footer {
    padding: 80px 0 0px;
  }
  .aboutUs .dev-process .row .col-sm-12 {
    width: 453px;
  }
  .aboutUs .dev-process .row .col {
    margin: 18px 0 0;
  }
  .aboutUs .main-page {
    padding: 241px 0 163px;
  }
}

@media (max-width: 1024px) {
  .home__ellipse {
    right: -13%;
  }
  .aboutUsMain__ellipse {
    right: -3%;
  }
  .home__img {
    position: absolute;
    top: 20%;
  }
  .works .slick-slide img {
    height: 42vh;
  }
  .feedbacks .cards {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .feedbacks .cards_active {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 992px) {
  .header .nav-item {
    font-size: 13px;
  }
  .home .container {
    margin-left: 30px;
  }
  .home__ellipse {
    top: 24%;
    right: -11%;
  }
  .home__img {
    top: 24%;
  }
  .aboutUsMain__ellipse {
    top: -42%;
  }
  .works__cards {
    width: 363px;
    height: 237px;
    padding: 11px;
    font-size: 14px;
  }
  .works__link {
    position: absolute;
    bottom: 14px;
    font-size: 14px;
  }
  .footer__txt {
    font-size: 13px;
  }
  .aboutUs .main-page__txt {
    font-size: 17px;
  }
  .home__ellipse {
    width: 600px;
    height: 600px;
  }
  .aboutUsMain__ellipse {
    top: -38%;
    right: -1%;
    position: absolute;
    width: 400px;
    height: 400px;
  }
  .aboutUs .main-page {
    padding: 241px 0 107px;
  }
  .home__ellipse.aboutUs {
    top: 24%;
    right: -11%;
  }
  .aboutUsMain__ellipse.aboutUs {
    top: -22%;
  }
  .aboutUs .dev-process .row .col-sm-12 {
    margin: 18px 0 0;
  }
  .home__img.aboutUs {
    top: 24%;
    right: -2%;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
    z-index: 9;
    background: #2a2f3790;
    -webkit-transition: all .6s linear;
    transition: all .6s linear;
  }
  .nav .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .d-flex .header__logo {
    display: none;
  }
  .nav .d-flex .nav-item {
    font-size: 1.5rem;
    line-height: unset;
    color: #fff;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
  }
  .nav .d-flex .nav-item:hover {
    color: #5699E8;
  }
  .nav .d-flex .nav-item:before {
    display: none;
  }
  .nav_active {
    -webkit-transition: all .9s linear;
    transition: all .9s linear;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 10;
  }
  .burger-menu__line {
    height: 3px;
    width: 100%;
    background: #fff;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-bottom: 8px;
    border-radius: 8px;
  }
  .burger-menu__line:nth-child(2) {
    margin-bottom: 8px;
  }
  .burger-menu__line_active {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: -3px;
  }
  .burger-menu__line_active:nth-child(2) {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: none;
  }
  .burger-menu__line_active:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .home {
    padding-bottom: 454px;
  }
  .home__ellipse {
    top: 50%;
  }
  .aboutUsMain__ellipse {
    top: -33%;
    right: 2%;
  }
  .home__img {
    top: 52%;
    right: -4%;
    width: 560px;
  }
  .works .slick-slide img {
    display: block;
    width: 100%;
    height: 52vh;
  }
  .works__cards {
    top: 14%;
    left: 5%;
  }
  .works__button {
    top: 49%;
    right: 0%;
  }
  .feedbacks .cards {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .feedbacks .cards_active {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  div .slick-slide.slick-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .container .row .col-sm-12:nth-child(2) {
    display: none !important;
  }
  .our-team .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutUs .our-team__img {
    margin: auto;
  }
  .aboutUs .our-team__name {
    text-align: center;
  }
  .aboutUs .our-team__job {
    text-align: center;
  }
  .aboutUs .main-page {
    padding: 241px 0 700px;
  }
  .home__ellipse.aboutUs {
    top: 62%;
  }
  .aboutUsMain__ellipse.aboutUs {
    top: -10%;
    right: 2%;
  }
  .home__img.aboutUs {
    top: 65%;
    right: -2%;
    width: 505px;
  }
  .main-page .container .row .col-6 {
    width: 95%;
  }
  .footer__line {
    width: 100%;
    height: 1px;
    background: white;
    margin: 4px 0 24px;
  }
}

@media (max-width: 576px) {
  html h2 {
    text-align: center;
  }
  html .aboutUsMain__subtitle {
    text-align: center;
  }
  html .aboutUsMain__descr {
    text-align: center;
  }
  html .home__subtitle {
    text-align: unset;
  }
  html .works__title {
    text-align: unset;
  }
  html .feedbacks__title {
    text-align: unset;
  }
  .home {
    padding-bottom: 647px;
  }
  .aboutUsMain__ellipse {
    top: -45%;
    right: 7%;
  }
  .feedbacks__button {
    display: block;
  }
  .footer .container .row .col-sm-12 {
    margin-left: 20px;
  }
}

@media (max-width: 414px) {
  .overlay .popup-form {
    max-width: 353px;
  }
  .overlay .popup-thanks {
    max-width: 351px;
  }
  .aboutUsMain__button {
    right: 22px;
  }
  .home {
    padding-bottom: 400px;
  }
  .home__title img {
    width: 150%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home__vector {
    top: -2px;
    left: 265px;
    width: 9px;
  }
  .home__descr {
    font-size: 1rem;
  }
  .home__button {
    width: 95%;
    font-size: 1rem;
  }
  .home__ellipse {
    top: 63%;
    right: -47%;
  }
  .aboutUsMain__ellipse {
    top: -27%;
    right: -21%;
  }
  .home__img {
    top: 65%;
    right: -22px;
    width: 401px;
    height: 34%;
  }
  .home__ellipse {
    top: 57%;
    right: -47%;
  }
  .works__cards {
    display: none;
  }
  .works .slick-slide img {
    display: block;
    width: 100%;
    height: 26vh;
  }
  .works__button {
    top: 35%;
    width: 13%;
  }
  .works .slick-dots {
    bottom: 11px;
  }
  .works .slick-dots li button:before {
    font-size: 16px;
  }
  .feedbacks__button {
    right: 0;
    width: 13%;
  }
  div .slick-slide.slick-active {
    display: block;
  }
  .feedbacks .cards_active {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .feedbacks .slick-dots li button:before {
    font-size: 18px;
  }
  .home__ellipse.aboutUs {
    top: 59%;
    right: -39%;
  }
  .aboutUsMain__ellipse.aboutUs {
    top: -12%;
    right: -16%;
  }
  .home__img.aboutUs {
    top: 58%;
    right: -27%;
    width: 525px;
    height: 45%;
  }
  .aboutUs .dev-process .row .col-sm-12 {
    width: 364px;
  }
  .aboutUs .dev-process .row .col-sm-12 .list-items {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .home {
    padding-bottom: 460px;
  }
  .home__subtitle {
    font-size: 1.3rem;
  }
  .feedbacks .cards {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  .feedbacks .cards_active {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  .aboutUs .main-page {
    padding: 241px 0 500px;
  }
  .home__ellipse.aboutUs {
    top: 53%;
    right: -58%;
  }
  .aboutUsMain__ellipse.aboutUs {
    top: -12%;
    right: -34%;
  }
  .home__img.aboutUs {
    top: 55%;
    right: -19%;
    width: 440px;
  }
}
/*# sourceMappingURL=style.css.map */