@import url('../fonts/SegoeUI/stylesheet.css');
@import url('../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css');
@import url(../../node_modules/slick-carousel/slick/slick.css);
@import url(../../node_modules/slick-carousel/slick/slick-theme.css);


@import '../scss/mixins';
@import '../scss/header';
@import '../scss/home';
@import '../scss/aboutUsMain';
@import '../scss/cost-desc';
@import '../scss/works';
@import '../scss/feedbacks';
@import '../scss/cta';
@import '../scss/footer';
@import '../scss/aboutUs';
@import '../scss/popups';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.aboutUs {
  overflow-x: hidden;
}

body {
  background: #1F242B;
  overflow-x: hidden;
}

@media (max-width: 1400px) {
  .aboutUs .our-team__img {
    width: 266px;
    height: 267px;
  }
}

@media (max-width: 1200px) {
  .aboutUsMain__ellipse {
    top: -60%;
    right: 0%;
    position: absolute;
    width: 500px;
    height: 500px;
  }   

  .aboutUsMain__ellipse.aboutUs {
    top: -38%;
  }

  // .home__ellipse.aboutUs {
  //   top: 41%;
  // }

  .home__img {
    position: absolute;
    top: 15%;
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  .home__ellipse {
    top: 19%;
    right: -8%;
    position: absolute;
    width: 700px;
    height: 700px;
  }

  .aboutUsMain {
    padding: 100px 0 230px;
  }

  .aboutUsMain__cards {
    font-size: 18px;
    &:last-child {
      margin-top: 18px;
    }
  }

  .aboutUsMain__ellipse {
    top: -50%;
  }

  .aboutUsMain .ellipsis-block__ellipsis {
    left: -349px;
    top: 0;
    width: 569px;
  }

  .aboutUsMain .ellipsis-block__ellipsis:nth-child(2) {
    top: 64px;
    left: -300px;
  }

  .aboutUsMain__button {
    position: absolute;
    bottom: -156px;
  }

  .cost-desc {
    padding: 80px 0 126px;
  }

  .cost-desc__cards {
    font-size: 20px;
  }

  .works .slick-slide img {
    display: block;
    width: 100%;
    height: 72vh;
    object-fit: cover;
  }

  .feedbacks .cards {
    width: 482px !important;
  }

  .footer {
    padding: 80px 0 0px;
  }

  .aboutUs .dev-process .row .col-sm-12 {
    width: 453px;
  }

  .aboutUs .dev-process .row .col{
    margin: 18px 0 0 ;
  }

  .aboutUs .main-page {
    padding: 241px 0 163px;
  }
  
}

@media (max-width: 1024px) {

  .home__ellipse {
    right: -13%;
  }

  .aboutUsMain__ellipse {
    right: -3%;
  }

  .home__img {
    position: absolute;
    top: 20%;
  }
  
  .works .slick-slide img {
    height: 42vh;
  }

  .feedbacks .cards {
    transform: scale(0.4);
  }

  .feedbacks .cards_active {
    transform: scale(0.7)
  }
  
}

@media (max-width: 992px) {
  .header .nav-item {
    font-size: 13px;
  }

  .home .container {
    margin-left: 30px;
  }

  .home__ellipse {
    top: 24%;
    right: -11%;
  }

  .home__img {
    top: 24%;
  }

  .aboutUsMain__ellipse {
    top: -42%;
  }

  .works__cards {
    width: 363px;
    height: 237px;
    padding: 11px;
    font-size: 14px;
  }

  .works__link {
    position: absolute;
    bottom: 14px;
    font-size: 14px;
  }

  .footer__txt {
    font-size: 13px
  }

  .aboutUs .main-page__txt {
    font-size: 17px;
  }

  .home__ellipse {
    width: 600px;
    height: 600px;
  }

  .aboutUsMain__ellipse {
    top: -39%;
    right: 0%;
    position: absolute;
    width: 400px;
    height: 400px;
  }

  .aboutUs .main-page {
    padding: 241px 0 107px;
  }

  .home__ellipse.aboutUs {
    top: 24%;
    right: -11%;
  }

  .aboutUsMain__ellipse.aboutUs {
    top: -22%;
  }

  .aboutUs .dev-process .row .col-sm-12 {
    margin: 18px 0 0;
  }

  .home__img.aboutUs {
    top: 24%;
    right: -2%
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}


@media (max-width: 768px) {

  .nav {
    display: none;
    z-index: 9;
    background: #2a2f3790;
    transition: all .6s linear;
    
    .d-flex {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .header__logo { 
        display: none;       
      }
      .nav-item {
        font-size: 1.5rem;
        line-height: unset;
        color: #fff;
        transition: all .3s linear;
        &:hover {
          color: #5699E8
        }
        &:before {
          display: none;
        }
      }
    }

    &_active {
      transition: all .9s linear;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .burger-menu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 10;

    &__line {
      height: 3px;
      width: 100%;
      background: #fff;
      transition: all 0.3s linear;
      margin-bottom: 8px;
      border-radius: 8px;

      &:nth-child(2) {
        margin-bottom: 8px;
      }

      &_active {
        transform: rotate(45deg);
        margin: -3px;
        &:nth-child(2) {
          transition: all 0.3s linear;
          display: none;
        }
        &:last-child {
          transform: rotate(-45deg);
        }
        
      }
    }
  }



  .home {
    padding-bottom: 454px;
  }

  .home__ellipse {
    top: 50%;
  }

  .aboutUsMain__ellipse {
    top: -36%;
    right: 2%;
  }

  .home__img {
    top: 52%;
    right: -4%;
    width: 560px;
  }

  .works .slick-slide img {
    display: block;
    width: 100%;
    height: 52vh;
  }

  .works__cards {
    top: 14%;
    left: 5%;
  }


  .works__button {
    top: 49%;
    right: 0%;
  }

  .feedbacks .cards {
    transform: scale(0.4);
}

  .feedbacks .cards_active {
    transform: scale(0.6);
  }

  div .slick-slide.slick-active {
    display: flex;
    justify-content: center;
  }

  .footer .container .row .col-sm-12 {
    &:nth-child(2) {
      display: none!important;
    }
  }

  .our-team .container .row {
    justify-content: center;
  }

  .aboutUs .our-team__img {
    margin: auto;
  }

  .aboutUs .our-team__name {
    text-align: center;
  }

  .aboutUs .our-team__job {
    text-align: center;
  }

  .aboutUs .main-page {
    padding: 241px 0 700px;
  }

  .home__ellipse.aboutUs {
    top: 62%;
  }

  .aboutUsMain__ellipse.aboutUs {
    top: -17%;
    right: 2%;
  }

  .home__img.aboutUs {
      top: 65%;
      right: -2%;
     width: 505px;
  }

  .main-page .container .row .col-6 {
    width: 95%;
  }

  .footer__line {
    width: 100%;
    height: 1px;
    background: white;
    margin: 4px 0 24px;
  }
}

@media (max-width: 576px) {

  html {

    h2 {
      text-align: center;
    }

    .aboutUsMain__subtitle {
      text-align: center;
    }

    .aboutUsMain__descr {
      text-align: center;
    }

    .home__subtitle {
      text-align: unset;
    }

    .works__title {
      text-align: unset;
    }

    .feedbacks__title {
      text-align:unset;
    }
  }

  .home {
    padding-bottom: 647px;
  }

  .aboutUsMain__ellipse {
    top: -45%;
    right: 7%;
  }

  .feedbacks__button {
    display: block;
  }

  .footer .container .row .col-sm-12 {
    margin-left: 20px;
  }
}

@media (max-width: 414px) {

  .home {
    padding-bottom: 400px;
  }

  .home__title img {
    width: 150%;
    object-fit: cover;
  }
  
  .home__vector {
    top: -2px;
    left: 265px;
    width: 9px;
  }

  .home__descr {
    font-size: 1rem;
  }

  .home__button {
    width: 95%;
    font-size: 1rem;
  }

  .home__ellipse {
    top: 63%;
    right: -47%;
  }

  .aboutUsMain__ellipse {
    top: -27%;
    right: -21%;
  }

  .home__img {
    top: 65%;
    right: -22px;
    width: 401px;
    height: 34%;
  }

  .home__ellipse {
    top: 57%;
    right: -47%;
  }

  .works__cards {
    display: none;
  }

  .works .slick-slide img {
    display: block;
    width: 100%;
    height: 26vh;
  }

  .works__button {
    top: 35%;
    width: 13%;
  }

  .works .slick-dots {
    bottom: 11px;
  }

  .works .slick-dots li button:before {
    font-size: 16px;
  }

  .feedbacks__button {
    right: 0;
    width: 13%;
  }

  div .slick-slide.slick-active {
    display: block;
  }

  .feedbacks .cards_active {
    transform: scale(0.5);
  }

  .feedbacks .slick-dots li button:before {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .home {
    padding-bottom: 460px;
  }

  .home__subtitle {
    font-size: 1.3rem;
  }

  .feedbacks .cards {
    transform: scale(0.2);
  }
  .feedbacks .cards_active {
    transform: scale(0.4);
  }
}
