.cost-desc {
  padding: 80px 0 248px;
  background: #1f242c;
  z-index: 6;

  &__title {
    @include title;
    margin-bottom: 40px;
  }

  &__numbers {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 96px;
    color: #E5E5E5;
    opacity: 0.4;
    margin-right: 24px;
  }

  &__cards {
    @include cards(346px, 152px, 12px);
    @include txt(24px, 300);
    margin-bottom: 40px;
  }
}