.cta {
  padding: 146px 0;
  background: rgba(255, 255, 255, 0.05);
  .container .col {
    margin: 0 auto;
  }

  &__title {
    @include title;
    max-width: 506px;
    margin-bottom: 40px;
  }
}

.form {
  position: relative;

  &__inputBlock {
    margin-bottom: 24px;

    .dropdownBlock {
      display: none;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;

      &_active {
        display: block;
        margin-bottom: 10px;
      }

      .dropdown {
        width: 100%;
        height: 46px;
        background: #353940;
        border-radius: 6px;
        border-bottom: 1px solid #fff;
        @include txt(16px, 300);
        padding: 10px;
        // &:last-child{
        //   border: none;
        // }
      }
    }
  }

  &__input {
    width: 100%;
    height: 46px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    background: transparent;
    color: #FFFFFF;
    outline: none;
    padding:10px;
    transition: ease all 0.3s ;

    &.dropdown {
      transition: all 0.5s linear;
      background:no-repeat 470px/10px url('../images/cta/arrow.svg');
      background-size: 22px;
    }
    
    &:valid:focus{
      border: 1px solid #5699E8;
    }
  }


  .input__title {
    @include txt(1rem, normal);
    margin-bottom: 12px;
  }

  &__button {
    width: 156px;
    height: 46px;
    background: #F91941;
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
    border-radius: 45px;
    border: none;
    @include txt(1rem, normal);
    position: absolute;
    bottom: -80px;
    right: 0;
  }
}