.feedbacks {
  padding: 40px 0;

  .container {
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0;
  }

  &__title {
    @include title;
    margin-left: 80px;

  }
  .slick-list {
    padding: 0 !important;
  }

  .slick-dots {
    display: block;
    position: absolute;
    bottom: 10px;

    li button:before {
      font-size: 28px;
      color: white!important;
      opacity: 1!important;

    }

    li.slick-active button:before {
      color: #5699E8!important;
      opacity: 1;
  
    }
  }

  .cards {
    @include cards(500px !important, 518px, 24px);
    transform: scale(0.60);
    transition: .3s linear all;
    border: none;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(31, 36, 43, 0.6);
    }

    &_active {
      transform: scale(.8);
      border: 1px solid #FFFFFF;
      background: rgba(255, 255, 255, 0.05);
      &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: none;

      }
    }

    &__img {
      width: 150px ;
      height: 100px;
      background: #FFFFFF;
      border-radius: 95px;
      margin-right: 40px;
    }

    &__name {
      @include txt(16px, bold); 
    }

    &__job {
      @include txt(16px, normal);
      max-width: 308px;
    }

    &__feedback {
      @include txt(16px, 400);
      margin-top: 26px;
      max-width: 448px;
    }
  }

  &__button {
    position: absolute;
    top: 40%;
    transition: all 0.3s linear;
    z-index: 1;

    &:hover {
      transform: scale(1.2);
    }

    &.right {
      transform: rotate(180deg);
      left: 0;
    }

    &.left {
      right: 0;
    }
  }
}