.header {
  padding: 20px 0;
  background: #1F242B;
  border-bottom: 1px solid #656363;
  z-index: 999;
  width: 100%;
  transition: all 0.5s linear;
  position: fixed;

  &_sticky {
    background: #1F242B90;
    border: none;
    padding: 10px 0;

  }


  &__logo {
    margin-right: 80px;
  }

  .nav {

    &-item {
      @include txt(16px, normal);
      text-decoration: none;
      position: relative;
      margin-right: 54px;
      display: inline-block;
      transition: all 0.3s linear;

      &:hover {
        color: #5699E8;
      }

      &.active {
        font-weight: bold;
      }
      

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        background: #E5E5E5;
        border-radius: 100%;
        position: absolute;
        top: 10px;
        right: -30px;
      }
      &:last-child:before {
        width: 0;
        height: 0;
      }
    }
  }
}