.home {
  padding:120px 0  135px;
  position: relative;
  background: #1f242c;
  &__title {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: -50px;
      left: 0;
      background: #f91942;
      width: 124px;
      height: 2px;
    }
  }

  &__subtitle {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.26em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 73.22px 0 48px;
  }

  &__descr {
    @include txt(24px, normal);
    max-width: 430px;
    margin-bottom: 48px;
  }

  &__button {
    width: 280px;
    height: 56px;
    background: #F91941;
    box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.25);
    border-radius: 45px;
    border: none;
    @include txt(24px, normal);
    transition: all 0.6s linear;
    &:hover {
      background: #5699E8;
    }
  }

  &__img {
    position: absolute;
    top: 4%;
    right: 2%;
    z-index: 2;

    &.second {
      top: 18%;
    }
  }

  &__ellipse {
    top: 8%;
    right: -8%;
    position: absolute;
    width: 858px;
    height: 856px;
    background: #2a2f37;
    border-radius: 100%;
  }

  @keyframes ellipse {
    0% {
      transform:scale(1)
    }
    25% {
      transform:scale(1.1)
    }
    50% {
      transform:scale(1.2)
    }
    75% {
      transform:scale(1.1)
    }
    100% {
      transform:scale(1)
    }
  }
}